<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <link href="/css/bulma.css" rel="stylesheet" type="text/css">
    <link href="/css/global.css" rel="stylesheet" type="text/css">

    <title>Example</title>
</head>
<body class="has-navbar-fixed-bottom">
  @!section('content')
</body>
</html>
